body {
    background: #000000;
    color: white;
}

.main {
    padding: 0 5% 0 5%;
}

.title {
    text-align: center;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0 0 0;
    padding: 0;
}

.page {
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 0;
}

.list-favorite {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: -24px;
    margin-left: 30.5cm;
    margin-right: 6px;
    padding: 5px;
    border: 1px outset white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: large;
}



